*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body{
    height: 100vh;
}

header{
   padding: 20px 20px;
   background-color: rgb(238, 245, 251);
   height: 9vh;
}

header nav h3{
    font-weight: 600;
    font-size: 20px;
}

nav h2{
  float: left;
}

/* nav h3{
    float: right;
    margin-left: 25px;
} */

.formbox{
  float: right;
}

body{
    background-color: white;
}

main{
    padding-top: 100px;
    padding-left: 100px;
}

table td, th{
    padding: 14px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    text-align: center;
    font-weight: 700;
  }
  
  table tr:first-child, table tr:last-child{
    border: 1px solid black;
  }
  
  table{
    border: 2px solid black;
      border-collapse: collapse;
      width: 1000px;
  }
  
  table tr:nth-of-type(odd){
    background-color: #f5f9fd;
  }

  .formflex{
    display: flex;
    align-items: center;
  }

  input{
    margin-left: 30px;
    padding: 10px 12px;
    background-color: white;
    color: #2385f5;
    border-radius: 3px;
    font-size: 19px;
    font-weight: 700;
    border: 1px solid #2385f5;
  }

  .write{
    margin-bottom: 50px;
  }